<%= turbo_frame_tag "user_conditions_results" do %>
<h1>User conditions</h1>
  <% if @user_conditions&.any? %>
    <% @user_conditions.each do |condition| %>
      <div><%= condition.name %></div>
    <% end %>
  <% end %>
<% end %>

<%= render "conditions/search", search_results: @search_results%>
