<%= turbo_frame_tag "user_medications_results" do %>
<h1>User medications</h1>
  <% if @user_medications&.any? %>
    <% @user_medications.each do |medication| %>
      <div><%= medication.name %></div>
    <% end %>
  <% end %>
<% end %>

<%= render "medications/search", search_results: @search_results%>
